html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
:root {
  --brand-color-light: #4d5ae5;
  --main-btn-color: #4d5ae5;
  --second-btn-color: #ffffff;
  --main-background-color: #f4f4fd;
  --second-background-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}
.link {
  text-decoration: none;
  font-style: inherit;
  color: #434455;
}
.list {
  list-style: none;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/**------------- HEADER------------ */
.top-line {
  display: flex;
  width: 1440px;
  height: 72px;
  padding: auto 156px;
}
.header-logo {
  color: var(--brand-color-light);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.half-header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link:is(:hover, :focus) {
  color: #404bbf;
}
.button {
  cursor: pointer;
}
.header-nav.container {
  display: flex;
}
.header-list {
  display: flex;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
}
.address-item-contact:is(:hover, :focus) {
  color: #404bbf;
}

.address-item-contact {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**------------- HERO------------ */
.hero {
  background-color: #2e2f42;
}
.hero-container {
  justify-content: center;
}
.hero-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 0 auto;
}
.hero-btn {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  display: block;
}

/**------------- FEATURES------------ */
.features-container {
  display: flex;
  outline: 2px solid tomato;
}
.features-title .scrolls-title {
  visibility: hidden;
}

.features-list-item {
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  letter-spacing: 0.02em;
}
/**------------- WORK------------ */
.work {
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.work-list,
.team-list,
.scrolls-list,
.features-list,
.examples-list {
  display: flex;
}
.work-item {
}
/**------------- TEAM------------ */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
}
.team-member {
}
.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-member-prof {
  letter-spacing: 0.02em;
}
/**------------- FOOTER------------ */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: var(--brand-color-light);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.half-footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  color: #e7e9fc;
}

/**------------- SCROLLS------------ */

.scrolls {
}
.scrolls-title {
}
.scrolls-list {
}
.scrolls-item {
}

.scrolls-btn {
  color: var(--main-btn-color);
  background-color: var(--main-background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.scrolls-btn:is(:hover, :focus) {
  color: var(--second-btn-color);
  background-color: var(--second-background-color);
}
.examples-list {
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
}

.examples-item {
  margin: 0 24px 48px 0;
}
.examples-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.examples-item-text {
  letter-spacing: 0.02em;
}
